/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: #FF6600; /*royalblue;*/
}
/* a:visited {
	color: purple;
}*/
a:hover,
a:focus,
a:active {
	color: #FF6600; /*midnightblue;*/
}